{% extends 'sugarList/base.html' %}
{% load static %}


<body>
{% block porductList %}
    <div class="container">
        <table class="table table-striped">
        <thead>
            <tr>
            <th>Name</th>
            <th>Product</th>
            <th>Brand</th>
            <th style="width:12vw;">Sugar <small class="text-muted">(per 100g)</small></th>
            <th style="width:12vw;">Added sugar</th>
            <th>Quantity<small class="text-muted">(g)</small></th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td><img src="{{ product.productImage.url }}" width="70"></td>
                    <td>{{ product.productName }}</td>
                    <td>{{ product.productBrand }}</td>
                    <td>{{ product.productSugar }}g</td>
                    <td>
                        {% if product.productAddedSugar == True %}
                            Yes
                        {% endif %}
                    </td>
                    <td><input type="number" name="product-quantity" id="productQuantity" class="form-control" style="width:7vw;"></td>
                    <td><button class="btn btn-sm btn-primary">Add</button></td>
                </tr>
            {% endfor %}
            
        </tbody>
        </table>
    </div>

{% endblock %}
