{% extends 'sugarList/base.html' %}
{% load static %}


<body>
{% block porductList %}
    <div class="container">
        <table class="table table-striped">
        <thead>
            <tr>
            <th>Firstname</th>
            <th>Product</th>
            <th>Brand</th>
            <th>Added Sugar</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td><img src="{{ product.productImage.url }}" width="70"></td>
                    <td>{{ product.productName }}</td>
                    <td>{{ product.productBrand }}</td>
                    <td>{{ product.productSugar }}g</td>
                </tr>
            {% endfor %}
            
        </tbody>
        </table>
    </div>

<!--
    <ul class="list-group list-group-flush">
        {% for product in products %}
        <li class="list-group-item">
            <div class="d-flex">
                <img class="mr-4" src="{{ product.productImage.url }}" width="70">
                <p class="mr-4">{{ product.productName }}</p>
                <p class="mr-4">Brand: {{ product.productBrand }}</p>
                <p class="mr-4">Sugar: {{ product.productSugar }}g</p>
            </div>
        </li>
        {% endfor %}
    </ul>
-->
{% endblock %}
